.about-service {
  background-color: $basic-blue-light-2;

  &__text {
    color: $pure-white;
  }

  &__button {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}
