.companion {
  background-color: $basic-blue-dark;

  &__list {
    @media (min-width: $tablet-width) {
      display: flex;
    }

    @media (min-width: $tablet-desktop) {
      order: 4;
    }
  }

  &__title {
    @media (min-width: $tablet-desktop) {
      order: 1;
    }
  }

  &__subtitle {
    color: $pure-white;

    @media (min-width: $tablet-desktop) {
      order: 2;
    }
  }

  &__button {
    margin: 20px auto 0 auto;

    @media (min-width: $tablet-width) {
      margin: 0 70px;
      min-width: 618px;
    }

    @media (min-width: $tablet-desktop) {
      order: 4;
    }
  }
}
