.contacts {
  &__item {
    &--tel {
      background-color: $special-orange;
    }

    &--let {
      background-color: $basic-yellow-dark;
    }

    &__link {
      color: $basic-yellow;
      font-weight: 700;
    }
  }
}
