.directions {
  background-color: $special-blue-light-2;

  &__text {
    color: $special-grey;
  }

  &__button {
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      margin: 0 70px;
      min-width: 618px;
    }
  }
}
