.flags {
  &__text {
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    color: $basic_blue_light;
  }

  &__item + &__item {
    padding-left: 20px;
  }
}
