.interested {
  background-color: $basic-blue-light-2;
  padding: 105px 25px 16px 25px;

  &__text {
    color: $pure-white;
    text-align: center;
  }

  &__link {
    color: $basic-yellow;
    text-decoration: underline;
  }

  &__input {
    color: $special-grey;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    font-family: $font;
    width: 220px;
    padding: 22px 0 22px 25px;
    border-radius: 10px 0 0 10px;
    margin-left: -10px;
  }

  &__button {
    display: inline-flex;
    width: 60px;
    height: 62px;
    margin-left: -10px;
  }
}
