.level {
  background-color: $pure-black;

  &__value {
    color: $pure-white;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }

  &__small {
    color: $pure-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
}
