.plan {
  background-color: $basic-blue-light-2;

  &__item {
    color: $basic-blue;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }

  &__item:nth-of-type(1) {
    background-color: $special-orange;
  }

  &__item:nth-of-type(2) {
    background-color: $special-orange-light;
  }

  &__item:nth-of-type(3) {
    background-color: $basic-yellow-dark;
  }

  &__item:nth-of-type(4) {
    background-color: $basic-yellow;
  }
  // какие есть еще варинаты решения? Через модификатор? Как то странно
}
