.plan {
  background-color: $basic-blue-light-2;

  &__item {
    color: $basic-blue;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }

  &__item:nth-child(4n+1) {
    background-color: $special-orange;
  }

  &__item:nth-child(4n+2) {
    background-color: $special-orange-light;
  }

  &__item:nth-child(4n+3) {
    background-color: $basic-yellow-dark;
  }

  &__item:nth-child(4n+4) {
    background-color: $basic-yellow;
  }
}
