.profile {
  &__button {
    background-color: $special-blue-light;
    border-radius: 20px;
    border: none;
    font-family: $font;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
  }
}
