.routes-dropdown {
  &__header {
    background-color: $basic-blue-black;
  }

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: $pure-white;
  }

  &__close {
    background-color: $basic-blue-black;
    border: none;
  }

  &__button {
    border: 1px solid $special-grey-light;
    background-color: $pure-white;
    color: $basic-blue-black;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
  }
}
