.button {
  display: inline-flex;
  color: $basic-blue-light;
  font-family: $font;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  border: none;
  border-radius: 0;
  padding: 0;

  &--primary {
    background-color: $basic-yellow;
    border-radius: 12px;
  }
}
