@import "colors.scss";
@import "fonts.scss";

.button {
  background-color: $basic-yellow;
  color: $basic-blue-light;
  font-family: $font;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  border: 0;
}
