$basic-blue:#121936;
$basic-blue-dark:#161C35;
$basic-blue-light: #182044;
$basic-blue-light-2:#192144;
$basic-yellow: #FFD74B;
$basic-yellow-dark: #FFBD30;
$special-orange: #FF8D30;
$special-orange-light: #FFA530;
$special-blue-light: #DFE3F0;
$special-blue-light-2: #EDEFF6;
$special-grey: #444444;
$backgound-color: #E5E5E5;
$backgound-color-2: #E6E8F1;
$pure-white: #FFFFFF;
$pure-black: #000000;
$basic-blue-black: #1D2E5B;
$special-blue: #132576;
// Цвета названы как в макете
