@import "colors.scss";
@import "fonts.scss";

.country {

  &__card{
    background-color: $pure-white;
  }

  &__title{
    color: $pure-black;
    font-family: $font;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__subtitle{
    color: $special-grey;
    font-family: $font;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 30%;
  }

  &__persons{
    color: $basic-blue-dark;
    font-family: $font;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 30%;
  }
}
