@import "colors.scss";
@import "fonts.scss";

.directions {
  background-color: $special-blue-light-2;

  &__title{
    color: $special-orange;
    font-family: $font;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__text{
    color: $special-grey;
    font-family: $font;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

  }
}
