@import "colors.scss";
@import "fonts.scss";

.greetings{

  background-color:$basic-blue-dark;

  &__title{
    color: $pure-white;
    font-family: $font;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;

  }
}
